@media (max-width: 768px) {
    body {
        background-size: cover;
    }

    .central-txt {
        font-size: 2rem;
        padding-top: 1.5rem;
    }

    header {
        align-items: center;
        padding: 10px;
    }

    #logo {
        margin-left: 0;
        width: 80px;
        height: auto;
    }

    .login-button {
        margin-right: 0;
        margin-top: 10px;
        padding: 8px 16px;
        font-size: 0.9em;
    }

    .box-scelta {
        flex-wrap: wrap;
        gap: 10px;
        padding: 20px;
    }

    .box-scelta-1, .box-scelta-2, .box-scelta-3, .box-scelta-4, .box-scelta-5, .box-scelta-6 {
        width: 90px;
        height: 90px;
    }

    .box-negozi {
        grid-template-columns: repeat(2, 1fr); /* 2 colonne per dispositivi mobili */
        
    }

    .box-negozi img {
        height: auto;
    }

    .categorie-buttons {
        gap: 15px;
        margin-bottom: 4em;
    }

    footer {
        flex-direction: column;
        padding: 15px;
    }

    footer img {
        width: 80px;
        height: 80px;
    }
}

body {
    font-family: "Glovo","Arial","Helvetica Neue", Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('path/to/glovo-logo.png');
    background-position: top left;
    background-repeat: no-repeat;
    overflow-x: hidden; /* Evita lo scroll orizzontale */
}

.content-container {
    background-color: #ffc244; 
}

.reccomendation-container {
    background-color: white;
}

.address-input {
    display: block;
    margin: 1rem auto 0 auto;
    margin-top: 0.8rem;
    border-radius: 10px;
    width: 58%;
    padding: 15px;
    font-size: 1rem;
    border: none;
}

.address-input::placeholder {
    color:#000000;
}

.address-input:focus {
    outline: none;
}

.central-txt {
    text-align: center;
    padding-top: 2.4rem;
    color: #000000;
    font-size: 2.8rem;
    font-weight: bold;
    font-family: "Glovo", sans-serif;
    
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px;
    background-color: #ffc244;
    position: relative;
    top: 0;
    width: auto;
}

header img {
    height: 50px;
}

#logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    width: 130px; 
    height: 43px;
    margin-left: 11.2rem;
    cursor: pointer;
}

nav {
    display: flex;
    align-items: center;
}

.login-button button {
    background-color: #00a082; 
    color: white;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    margin-right: 12.5rem;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
}

.login-button img {
    width: 18px;
    height: 18px;
    vertical-align:text-bottom;
}

.box-scelta {
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: #ffc244;
    padding: 35px;
}

.box-scelta-1, .box-scelta-2, .box-scelta-3, .box-scelta-4, .box-scelta-5, .box-scelta-6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 120px; 
    height: 120px; 
    padding: -5px; 
    margin-bottom: 30px; 
    background-color: #fff; 
    border-radius: 40%; 
    border: 3px solid #e18e12; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease; 
}

.box-scelta img {
    width: 60px; 
    height: 60px; 
    margin-bottom: 10px; 
}

.box-scelta p {
    font-size: 0.9rem; 
    font-weight: bold;
    color: #333;
    text-align: center;
    margin: 0; 
}

.box-scelta-1:hover, .box-scelta-2:hover, .box-scelta-3:hover, .box-scelta-4:hover, .box-scelta-5:hover, .box-scelta-6:hover {
    transform: scale(1.05); 
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); 
}

.reccomendations-container {
    background-color: white;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}

.reccomendation-icon {
    width: 24px; 
    height: 24px;
    margin-right: 5px; 
    vertical-align:text-bottom;
}

.left-txt {
    font-family: 'GlovoFont', sans-serif;
    font-size: 1.6em; 
    color: #333; 
    font-weight: bold;
    padding-top: 4rem; 
    margin-left: 10rem;
}

.box-negozi {
    display: grid; /* Usa un layout a griglia */
    grid-template-columns: repeat(4, 1fr); /* 4 colonne di larghezza uguale */
    gap: 10px; /* Spazio tra i box */
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    justify-items: center; 
    align-items: center; 
}

.box-negozi-1, .box-negozi-2, .box-negozi-3, .box-negozi-4, .box-negozi-5, .box-negozi-6, .box-negozi-7, .box-negozi-8 {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    padding: 5px; 
    margin-bottom: 30px; 
    background-color: #fff;
    border-radius: 10px; 
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease; 
}

.box-negozi img{
    width: 80%;
    height: 80%;
    border-radius: 10px;
}

.box-negozi p{
    font-size: 1.2rem;
    font-weight: bold;
    color: #000000;
    text-align: left;
    margin: 0;
}

.box-negozi-1:hover, .box-negozi-2:hover, .box-negozi-3:hover, .box-negozi-4:hover, .box-negozi-5:hover, .box-negozi-6:hover, .box-negozi-7:hover, .box-negozi-8:hover {
    transform: scale(1.05); 
}

.Categorie-piu-richieste{
    text-align: center; 
    margin: 20px auto; 
}

.Categorie-piu-richieste h2{
    font-size: 2.4rem; 
    color: #000000; 
    font-weight: bold;
    margin: 0; 
}

.cities-icon {
    width: auto; 
    height: auto;
    margin-bottom: 10px; 
}

.categorie-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 30px;
    margin-bottom: 8em;
    justify-content: center; 
    align-items: center; 
}

.categorie-buttons button {
    background-color:  rgba(255, 165, 0, 0.2); 
    border: none;
    border-radius: 25px;
    padding: 12px 25px;
    font-weight: bold;
    font-size: 1.0em;
    color: #000;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.categorie-buttons button:hover {
    background-color: #ffc244; 
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    background-color: #1d1d1d;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: auto;
}

footer img {
    width: 100px; 
    height: 100px; 
    margin-right: 10px; 
}

footer section {
    min-width: 200px;
    margin: 10px;
    padding: 10px;
}

footer h3 {
    font-weight: bold;
    font-size: 1.5em;
}

footer p {
    font-size: 1em;
    cursor: pointer;
}
